<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
        </script>

</head>

<body>
  
  <div style="padding: 100px 230px; background-color: #efefef; min-width: 800px; display: flex; justify-content: center;" >
    
    <div style="background-color: white; border-radius: 8px; padding: 20px; box-shadow: 0px 0px 5px 0px #cfcfcf; min-width: 800px;">
      
      <div>
        
        <div style="display: flex; flex-direction: row; align-items: center;">
          
          <div style="margin-right: 80px;">
            <img width="130" height="auto" style="margin-top: 6px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/479px-WhatsApp.svg.png" alt="..." class="img-rounded">
          </div>
    
          <div>
            
            <h1 style="margin-top: 0px; margin-bottom: 2px; min-width: 500px;">WhatsApp Business (Test)</h1>
            <h7 style="color: rgb(140, 140, 140);">by Tiledesk (v. 0.1.4)</h7>

            {{#if wab_token}}
              <div style="margin-top: 20px;">
              <h7 style="color: rgb(140, 140, 140);">The Whatsapp Business App is configured on your Tildesk project.</h7>
              <form action="./disconnect" method="post">
                <input type="hidden" name="project_id" value="{{ project_id }}">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" name="subscription_id" value="{{ subscription_id }}">
                <input type="submit" class="btn btn-danger" style="margin-top: 10px; width: 160px;" value="Disconnect">
              </form>
            </div>
            {{/if}}
                        
          </div>
        </div>

        <!--
        <button onClick="javascript:window.open('https://gethelp.tiledesk.com/articles/telegram/', '_blank');" class="btn btn-        primary">View Documentation</button>            
        -->
        
        <div style="margin-top: 40px; padding: 20px; background-color: aliceblue; border-radius: 8px; min-width: 600px;">
          <h7>Receive Whatsapp bot conversations in your Tiledesk dashboard. Seamlessly Chat with your targeted audience on                         Whatsapp right from the Tiledesk dashboard.</h7>
              <ul>
                  <li>
                      <h7>Integrate your Whatsapp number with Tiledesk.</h7>
                  </li>
                  <li>
                      <h7>Once a chat is initiated on your Whatsapp number, receive an alert on your Tiledesk account.</h7>
                  </li>
                  <li>
                      <h7>Enable instant messaging and answer multiple conversations - everything from Tiledesk account.</h7>
                  </li>
              </ul>
        </div>

        <div style="margin-top: 10px;">
          <a href="https://gethelp.tiledesk.com/" target="_blank">View documentation</a>
        </div>
        

        <hr>

        <div>
          <h4>Your Configuration</h4>
      
          <div style="min-width: 600px">
            <form action="./update" method="post">

              <div class="form-group" style="width: 490px;">
                    <label style="margin-bottom: 0px;" for="proxy_url">Webhook Endpoint
                    <a href="https://gethelp.tiledesk.com/" target="_blank"><span style="margin-left: 10px;"><i class="fa fa-question-circle" style="color: #337ab7;"></i></span></a></label>
                    <p style="margin-bottom: 5px; font-size: 12px; color: #a7a7a7;">Copy this URL in the Facebook Developer Dashboad. See documentation for more info.</p>
                    <div style="display: flex; flex-direction: row; justify-content: space-between">
                        <div style="width: 400px;">
                            <input type="text" readonly class="form-control" name="proxy_url" id="proxy_url"
                                value="{{ proxy_url}}">
                        </div>
                        <div style="width: 80px;">
                          <!--
                            <input type="button" class="btn btn-primary" style="width: 100%;"
                                onclick="copyTextToClipboard(this, document.getElementById('proxy_url').value)"    
                                value="Copy"></input>
                          -->
                          <input type="button" id="copy-btn" class="btn btn-primary" style="width: 100%;"
                                onclick="copyTextToClipboard()"    
                                value="Copy"></input>
                        </div>

                    </div>
                </div>

                <div class="form-group" style="width: 400px;">
                    <label for="wab_token">Whatsapp Token</label>
                    <input type="text" class="form-control" name="wab_token" value="{{ wab_token }}"
                        placeholder="Enter the Whatsapp Token">
                </div>

                <div class="form-group" style="width: 400px;">
                    <label for="verify_token">Verify Token</label>
                    <input type="password" class="form-control" name="verify_token" value="{{ verify_token }}"
                        placeholder="Enter your Verify Token">
                </div>

                <input type="hidden" name="project_id" value="{{ project_id }}" />
                <input type="hidden" name="token" value="{{ token }}" />

                {{#if wab_token}}
                  <div style="width: 400px; text-align: right;">
                    <input type="submit" class="btn btn-primary" style="width: 35%;" value="Update">
                  </div>
                {{else}}
                  <div style="width: 400px; text-align: right;">
                    <input type="submit" class="btn btn-primary" style="width: 35%;" value="Connect">
                  </div>
                {{/if}}

            </form>

            
          </div> 
        </div>
        
      </div>

    </div>
  </div>

  <script>

    function copyTextToClipboard2(btn, text) {
        console.log("Button clicked")
        // if (!navigator.clipboard) {
        //     fallbackCopyTextToClipboard(text);
        //     return;
        // }
        btn.value = "Copied!"
        navigator.clipboard.writeText(text).then(function () {
            console.log('Async: Copied to clipboard!');

        }, function (err) {
            console.error('Async: Could not copy text: ', err);
        });
    }

    function copyTextToClipboard() {
      const proxyUrl = document.getElementById('proxy_url').select()
      
      //document.querySelector('textarea').select();
      try {
        document.execCommand('copy');
        console.log('Async: Copied to clipboard!');
        let btn = document.getElementById('copy-btn');
        btn.value = "Copied!";
      } catch (err) {
        console.error('Async: Could not copy text: ', err);
      }
  
      
  }
</script>
  

</body>
